*,::before,::after{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    /*Color*/
    --main_light: #F2F4FF;
    --white_60: hsla(0, 0%, 100%, 60%);
    --main: #002356;
    --line: hsla(216, 100%, 17%, 10%);
    --attention: #de3d21;

    --gradient_top: #F2F4FF;
    --gradient_bottom: #E5E9FF;

    /*Font Size*/
    --fs_64px: 4rem;
    --fs_45-2px: 2.825rem;
    --fs_32px: 2rem;
    --fs_22-6: 1.412rem;
    --fs_20px: 1.25rem;
    --fs_18px: 1.125rem;
    --fs_16px: 1rem;
    --fs_15px: .937rem;
    --fs_14px: .875rem;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.flex_cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex_rc{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/

#hero{
    min-width: 320px;
    height: 100vh;
    box-shadow: 0px 8px 32px hsla(0, 0%, 0%, 16%);
}

nav{
    background-color: var(--main);
    
    width: 100%;
    height: 55px;
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .5rem;
    
    opacity: 1;
    z-index: 100;
}

.nav_main{
    display: none;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 30%);
}

nav a{
    width: 6.140rem;
    height: 1.608rem;
    z-index: 100;
}

.logo{
    width: 100%;
}

.nav_buttons_desktop{
    display: none;
    
}

.bi-list{
    color: var(--main_light);
    font-size: 2rem;
    cursor: pointer;
    z-index: 100;
}

.menu_phone{
    background-color: var(--main);
    position: fixed;
    inset: 0;
    top: -16rem;
    width: 100%;
    height: 16rem;

    box-shadow: 0px 2px 12px rgb(0 0 0 / 30%);
    z-index: 3;
    transition: all .5s ease-in-out;
}

.menu_active{
    top: 0;
    transition: all .5s ease;
}

.nav_buttons_phone{
    width: max-content;
    align-items: flex-start;
    gap: 2rem;
    margin: 5rem auto;
}

.nav_buttons_phone li a{
    font-size: var(--fs_16px);
    color: var(--main_light);
}

.nav_buttons_phone a i {
    margin-right: .7rem;
}

/*//////////////////////////////////////////////////*/

#hero{
    min-width: 320px;
    height: 100vh;
    position: relative;
    
    overflow: hidden;
    padding-inline: .5rem;
}

.hero_background_1{
    background-image: url(../img/hero/hero_1\ Large.jpeg);
}
.hero_background_2{
    animation-delay: 9s;
    background-image: url(../img/hero/hero_2\ Large.jpeg);
    z-index: -1;
}
.hero_background_3{
    animation-delay: 17s;
    background-image: url(../img/hero/hero_3\ Large.jpeg);
    z-index: -2;
}
.hero_background_4{
    animation-name: move_fade_end!important;
    background-image: url(../img/hero/hero_4\ Large.jpeg);
    animation-delay: 23s;
    z-index: -3;
}

.hb{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    animation-name: move_fade_1;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

 @keyframes move_fade_1 {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    90%{
        opacity: 1;
    }
    100% {
      transform: scale(1.25) translateY(-15px);
      transform-origin: top;
      opacity: 0;
    }
  }
 @keyframes move_fade_end {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    90%{
    }
    100% {
      transform: scale(1.25) translateY(-15px);
      transform-origin: top;
    }
  }

#hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: .8;
}

.hero_title_container{
    z-index: 2;
}

.hero_title{
    width: 100%;
    font-size: var(--fs_32px);
    font-weight: 400;
    color: var(--main_light);
    z-index: 1;
    text-align: left;
}

.hero_title span{
    font-weight: 600;
    font-size: 40px;
}

.hero_title hr{
    margin: .5rem 0rem;
    width: 80%;
    opacity: .75;
}

.hero_desktop_bottom_card{
    display: none;
}

.hero_bottom{
    font-weight: 300;
    letter-spacing: 0px;
    position: absolute;
    bottom: 5rem;
    color: var(--main_light);
    z-index: 1;
}

.hero_bottom p{
    font-size: var(--fs_14px);
    letter-spacing: 1px;
}

.hero_bottom i{
    position: absolute;
    top: 3.5rem;
    animation: down2 2.5s ease-in-out infinite forwards running;
}


@keyframes down2 {
	0% {
		transform: translateY(-100%);
	}

	16% {
		transform: translateY(-132.27%);
	}

	28% {
		transform: translateY(-86.88%);
	}

	44% {
		transform: translateY(-104.63%);
	}

	59% {
		transform: translateY(-98.36%);
	}

	73% {
		transform: translateY(-100.58%);
	}

	88% {
		transform: translateY(-99.8%);
	}

	100% {
		transform: translateY(-100%);
	}

}


/*//////////////////////////////////////////////////*/


@media screen and (min-width: 768px){
    .hero_title_container{
        position: absolute;
        left: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .nav_hero{
        box-shadow: 0px 2px 12px rgb(0 0 0 / 30%);
        z-index: 4;
    }
}

@media screen and (min-width: 900px){

    nav{
        background-color: transparent;
        position:absolute;
        top: 0;
        width: 100%;
        height: 88px;
        right: 0;
        padding-left: 2rem;
    }

    .nav_main{
        background-color: var(--main);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 98;
        width: 100%;
        height: 60px;
    }

    .nav_hero_link{
        height: max-content;
    }

    .logo_hero{
        height: 2rem;
    }

    .logo_main{
        margin-top: .4rem;
        height: 2rem;
    }

    nav a {
        width: 8.375rem;
        height: 2.75rem;
        margin-top: .5rem;
        cursor: pointer;
        z-index: 2;
    }

    .nav_main a {
        width: 7rem;
        margin-top: .1rem;
        cursor: pointer;
        z-index: 2;
    }

  

    .nav_buttons_desktop{
        font-size: var(--fs_16px);
        font-weight: 500;

        width: 67%;
        height: 20px;
        display: flex;
        gap: 15%;
    }

    .nav_main .nav_buttons_desktop{
        gap: 5%;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .nav_buttons_desktop li i{
        font-size: var(--fs_14px);
        margin-right: .7rem;
    }

    .hero_nav li a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        width: 100px;
        padding-left: 1.1rem;
        height: max-content;
    }

    .icon{
        background-size: 14px;
        background-repeat: no-repeat;
        background-position-x: 5%;
        background-position-y: -100%;
        transition: all .3s ease;
    }

    .icon:last-child{
        background-position-x: 12%;
    }

    .hero_produkty{
        background-image: url(../img/produkty.svg);
    }

    .hero_produkty:hover{
        background-image: url(../img/produkty_hover.svg);
    }

    .hero_inspiracia{
        background-image: url(../img/inspiracia.svg);
    }

    .hero_inspiracia:hover{
        background-image: url(../img/inspiracia_hover.svg);
    }

    .hero_kontakt{
        background-image: url(../img/kontakt.svg);
    }

    .hero_kontakt:hover{
        background-image: url(../img/kontakt_hover.svg);
    }

    .nav_buttons_desktop a{
        font-size: var(--fs_14px);
        color: var(--main_light);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .nav_hero .nav_buttons_desktop a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_main .nav_buttons_desktop a:hover{
        opacity: .8;
    }

    .nav_buttons_desktop a:active{
        opacity: .4;
    }

    .bi-list{
        display: none;
    }

    /*//////////////////////////////////////////////////*/

    #hero{
        padding-inline: 4rem;
        z-index: 99;
        
    }

    .hero_desktop_column{
        background: linear-gradient(180deg, rgba(0, 35, 86, 0.96) 0%, rgba(0, 35, 87, 0.9216) 83.33%);
        box-shadow: 8px 0px 32px rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        width: 33%;
        height: 100%;

        opacity: .95;
        z-index: 1;
    }
    
    .hero_title{
        font-size: 2.5rem;
        font-weight: 300;
        text-align: left;
        z-index: 2;
    }

    .hero_title_container{
        left: 4rem;
        position: absolute;
        width: max-content;
        z-index: 2;
    }

    .line_1{
        display: none;
    }

    .line_2{
        display: none;
    }

    .hero_title span{
        font-size: 3.5rem;
    }

    .hero_title hr{
        display: none;
    }

    .hero_desktop_bottom_card{
        font-size: var(--fs_18px);
        color: var(--main);

        background-color: var(--main_light);

        display: flex;
        gap: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33%;
        height: 170px;
        padding: 1rem;

        z-index: 3;
    }

    .hero_desktop_bottom_card_title{
        font-size: 2rem;
        position: absolute;
        top: 1.5rem;
    }
    
    .current_sale{
        font-size: var(--fs_16px);
        text-align: center;
        padding-inline: .5rem;
        width: 100%;
        position: absolute;
        bottom: 2rem;
        left: 0;
    }

    .sale_1{
        animation: fade_1 10s ease-in-out infinite both running;
    }
    .sale_2{
        animation: fade_2 10s ease-in-out infinite both running;
        opacity: 0;
    }

    @keyframes fade_1 {
        0% {
            opacity: 1;
        }
        45%{
            opacity: 1;
        }

        50%{
            opacity: 0;
        }

        95%{
            opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    @keyframes fade_2 {
        0% {
            opacity: 0;
        }
        45%{
            opacity: 0;
        }

        50%{
            opacity: 1;
        }

        95%{
            opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

    .hero_bottom{
        margin-left: 33%;
    }

    .hero_bottom:hover{
        opacity: .8;
    }

    .hero_bottom:active{
        opacity: .4;
    }

    .hero_bottom p {
        font-size: var(--fs_18px);
    }
}

@media screen and (min-width: 1440px){
    nav a {
        width: 9.375rem;
        height: 2.75rem;
        margin-top: 1.875rem;
        cursor: pointer;
    }

    .hero_desktop_bottom_card{
        font-size: var(--fs_18px);
    }

    .hero_title span{
        font-size: 4.5rem;
    }

    .hero_title{
        font-size: 3.5rem;
    }
}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/

main{
    width: 100%;
    color: var(--main);
    background-image: linear-gradient(180deg,var(--gradient_top),var(--gradient_bottom));
    display: grid;
    place-items: center;
    min-width: 320px;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-inline: .5rem;
}

.title_container{
    width: max-content;
    margin-bottom: 2rem;
}

.title{
    font-size: var(--fs_32px);
    font-weight: 300;
}

.title i{
    margin-right: .8rem;
}

.fit{
    font-weight: 300!important;
}

.title span{
    font-weight: 700;
}

.line{
    width: 100%;
    border: 1px solid var(--line);
}

.category_description{
    font-size: var(--fs_14px);
    margin-bottom: 2rem;
    width: 100%;
    z-index: 1;
}

.category_container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    row-gap: 3.5rem;
    column-gap: 3.5rem;
    z-index: 1;
}

.category{
    margin: 0 auto;
    position: relative;
    width: 21rem;
    height: 17rem;
    cursor: pointer;

    transition: box-shadow .5s ease, scale .5s ease;
}


.category:hover .category_img, .category:hover .category_title{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.10);

    scale: 1.02;
}

.category_title{
    font-size: var(--fs_20px);
    color: var(--main);
    text-align: center;

    background-color: white;
    border: 4px solid var(--main_light);
    border-radius: 4px;

    width: 16rem;
    padding: .8rem 1rem .8rem 1rem;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    translate: (-50%);

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow .5s ease, scale .5s ease;
}

.category_title span{
    font-weight: 600;
}

.category_img{
    border: 8px solid white;
    border-radius: 2px;

    width: 100%;
    height: 272px;
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow .5s ease, scale .5s ease;
}

a .category {
color: var(--main);
}

.produkty_logo{
    display: none;
}

/*//////////////////////////////////////////////////*/

@media screen and (max-width: 350px) {
    .category{
        width: 19rem;
    }
}

@media screen and (min-width: 900px) {

    .title{
        display: flex;
        font-size: var(--fs_45-2px);
        gap: .8rem;
    }

    .category_description{
        font-size: var(--fs_16px);
    }

    .container{
        margin-top: 6rem;
        padding-inline: 6rem;
        margin-bottom: 4rem;
    }

    .produkty_logo{
        display: block;
        bottom: -21rem;
        right: 1rem;
        height: 20rem;
        width: 30rem;
        position: absolute;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        z-index: 0;
        opacity: .1;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        max-width: 1350px;
        padding-inline: 7rem;
    }
}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/

footer{
    font-size: var(--fs_14px);
    color: var(--main_light);

    background-color: var(--main);

    width: 100%;
    height: 8rem;
}

footer a{
    
    width: 6rem;
    height: min-content;
    margin-bottom: 1rem;
}

.footer_logo{
    width: 100%;
    height: 100%;
}

.footer_text a{
    
    color: var(--main_light);
    text-decoration: underline;
}

/*//////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
    footer{
        height: 6rem;
        padding: 2rem 1rem 2rem 1rem;
        position: relative;
    }

    footer a[href="#hero"]{
        width: 7rem;
        position: absolute;
        top: 55%;
        left: 50%;
        translate: (-50% -50%);
    }

    .footer_text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}